
    <div id="text">
        <h1>A propos de moi</h1>
        <p>
            À 24 ans, je me suis lancé dans une reconversion pour devenir développeur web. 
            Actuellement, je suis apprenti pour une durée de 1 an chez MGI Digital Technology, 
            et je prépare en parallèle un diplôme de développeur web (Bac+2) à la Webacadémie de Lyon. 
            Grâce à cette formation et à mon expérience en entreprise, 
            j'ai acquis des compétences dans divers langages de programmation, 
            la gestion de bases de données, ainsi que dans l'utilisation d'outils de design comme Figma.
        </p>
        <a href="https://github.com/Mlyet" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="FaGithub" class="icon git"></fa-icon></a>
        <a href="https://www.linkedin.com/in/thomas-meyet-92695b226/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="FaLinkedin" class="icon linkedin"></fa-icon></a>
        <a href="mailto:thomas.meyet@epitech.eu" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="FaEnvelope" class="icon envelope"></fa-icon></a>
    </div>


