<div id="body">
    <div id="wrapper">
        <h1 class="title">Langages et Logiciels</h1>
        
        <h1 class="text t1">HTML<span>Langage de balisage web</span></h1>
        <h1 class="text t2">CSS<span>Langage de style web</span></h1>
        <h1 class="text t3">SCSS/SASS<span>CSS amélioré avec variables et imbrications</span></h1>
        <h1 class="text t4">Javascipt<span>Langage de programmation web</span></h1>
        <h1 class="text t5">TypeScript<span>JavaScript avec typage</span></h1>
        <h1 class="text t6">React<span>Bibliothèque JavaScript pour interfaces</span></h1>
        <h1 class="text t7">Angular<span>Framework JavaScript pour applications web</span></h1>
        <h1 class="text t8">PHP<span>Langage de programmation web côté serveur</span></h1>
        <h1 class="text t9">Symfony<span>Framework PHP pour applications web</span></h1>
        <h1 class="text t10">Mysql, MairaDB<span>Système de gestion de base de données</span></h1>
        <h1 class="text t11">Docker<span>Plateforme de conteneurs virtuels</span></h1>
        <h1 class="text t12">Figma<span>Outil de conception graphique collaboratif</span></h1>
        <h1 class="text t13">Visual Studio Code<span>Éditeur de code polyvalent</span></h1>
        <div class="images">
            <img src="../../assets/langagesTools/html.jpeg" class="i1" alt="Images HTML">
            <img src="../../assets/langagesTools/css.jpeg" class="i2" alt="Images CSS">
            <img src="../../assets/langagesTools/sass.jpeg" class="i3" alt="Images SCSS">
            <img src="../../assets/langagesTools/Js.png" class="i4" alt="Images Javascipt">
            <img src="../../assets/langagesTools/typescript.png" class="i5" alt="Images TypeScript">
            <img src="../../assets/langagesTools/React-JS.png" class="i6" alt="Images React">
            <img src="../../assets/langagesTools/image_angular.png" class="i7" alt="Images Angular">
            <img src="../../assets/langagesTools/php.png" class="i8" alt="Images PHP">
            <img src="../../assets/langagesTools/symfony.png" class="i9" alt="Images Symfony">
            <img src="../../assets/langagesTools/mysql.jpeg" class="i10" alt="Images MairaDB et Mysql">
            <img src="../../assets/langagesTools/logo-docker.jpg" class="i11" alt="Images Docker">
            <img src="../../assets/langagesTools/logo_figma.png" class="i12" alt="Images Figma">
            <img src="../../assets/langagesTools/vs code.png" class="i13" alt="Images Visual Studio Code">
        </div>
    </div>
</div>